nav#mainNav
	ul#mainUl
		li#options.mainLi Options
		li#info.mainLi How It Works
		li#contact.mainLi Contact
	.optionDisp.hidden
		ul
			li#rainBtn Rain
			li#whiteBtn White Noise
			li#pinkBtn Pink Noise
			li#nCage
				img(src="../nick.png", alt="n-cage")
		.player#rain.hidden
			audio(src="../rain-03.mp3", loop="true" controls).audioPlayers
		.player#white.hidden
			audio(src="../white.mp3", loop = "true" controls).audioPlayers
		.player#pink.hidden
			audio(src="../pink.mp3", loop = "true" controls).audioPlayers
	#contactCont.hidden
		.contact
			h1#name Joshua Peterson
			h1 Phone:
				span 385-555-5555
			h1 Email:
				span joshpeterson.dev@gmail.com
			h1 Github:
				a(href='https://github.com/echoflame14', title="Github") https://github.com/echoflame14
	#infoCont.hidden
		.info
			<iframe width="560" height="315" src="https://www.youtube.com/embed/v4csQWOJPig" frameborder="0" allowfullscreen></iframe>
