nav#mainNav
	ul#mainUl
		li#options.mainLi Options
		li#contact.mainLi Contact
		li#info.mainLi Info
	.optionDisp.hidden
		ul
			li#rainBtn Rain
			li#whiteBtn White Noise
			li#pinkBtn Pink Noise
			li#nCage
				img(src="../nick.png", alt="n-cage")
		.player#rain.hidden
			audio(src="../rain-03.mp3", loop="true" controls).audioPlayers
		.player#white.hidden
			audio(src="../white.mp3", loop = "true" controls).audioPlayers
		.player#pink.hidden
			audio(src="../pink.mp3", loop = "true" controls).audioPlayers
	.contact.hidden
		h1 hey talk to me
	.info.hidden
		h1 INFORMATIVE
