
<nav id="mainNav">
  <ul id="mainUl">
    <li class="mainLi" id="options">Options</li>
    <li class="mainLi" id="info">How It Works</li>
    <li class="mainLi" id="contact">Contact</li>
  </ul>
  <div class="optionDisp hidden">
    <ul>
      <li id="rainBtn">Rain</li>
      <li id="whiteBtn">White Noise</li>
      <li id="pinkBtn">Pink Noise</li>
      <li id="nCage"><img src="../nick.png" alt="n-cage"/></li>
    </ul>
    <div class="player hidden" id="rain">
      <audio class="audioPlayers" src="../rain-03.mp3" loop="true" controls="controls"></audio>
    </div>
    <div class="player hidden" id="white">
      <audio class="audioPlayers" src="../white.mp3" loop="true" controls="controls"></audio>
    </div>
    <div class="player hidden" id="pink">
      <audio class="audioPlayers" src="../pink.mp3" loop="true" controls="controls"></audio>
    </div>
  </div>
  <div class="hidden" id="contactCont">
    <div class="contact">
      <h1 id="name">Joshua Peterson</h1>
      <h1>Phone:<span>385-555-5555</span></h1>
      <h1>Email:<span>joshpeterson.dev@gmail.com</span></h1>
      <h1>Github:<a href="https://github.com/echoflame14" title="Github">https://github.com/echoflame14</a></h1>
    </div>
  </div>
  <div class="hidden" id="infoCont">
    <div class="info"><iframe width="560" height="315" src="https://www.youtube.com/embed/v4csQWOJPig" frameborder="0" allowfullscreen></iframe></div>
  </div>
</nav>