// COLOR BANK
$crimson: #970000;
$iron: #D8D8D8;
$onyx: #4A4A4A;
	$onyx-light: #636060;
$white: #F9F9F9;
$sleep: rgb(69, 59, 156);
$relax: rgb(213, 109, 0);
$focus: rgb(11, 201, 76);
	$focus-dark:rgb(16, 64, 32);
$apple-gray: #fafafa;
$apple-black: #333333;
	$apple-black-opaq-8: rgba(#333333, 0.8);
	$apple-black-opaq-9: rgba(#333333, 0.9);
