// COLOR BANK
$crimson: #970000;
$iron: #D8D8D8;
$onyx: #4A4A4A;
	$onyx-light: #636060;
$white: #F9F9F9;
$sleep: rgb(69, 59, 156);
$relax: rgb(213, 109, 0);
$focus: rgb(11, 201, 76);
	$focus-dark:rgb(16, 64, 32);
$apple-gray: #fafafa;
$apple-black: #333333;
	$apple-black-opaq-8: rgba(#333333, 0.8);
	$apple-black-opaq-9: rgba(#333333, 0.9);
	$apple-black-opaq-7: rgba(#333333, 0.7);
	$apple-black-opaq-6: rgba(#333333, 0.6);
.cageify{
	background-image: url('https://cdn3.vox-cdn.com/thumbor/IE_0CtHTpjW1ix_Ztb5VHAdBHOE=/assets.sbnation.com/uploads/chorus_asset/file/2317732/nicolasCage_NotTheBees.0.gif');
	background-size:cover;
}
.active{
	border-bottom:$crimson 0.3vh solid;
}
#menuClose{
	position:fixed;
	height:10vh;
	font-size:5vh;
	top:2.5vh;
	width:5vw;
	right:-5vw;
	transition: all .2s ease-in-out;
	cursor:pointer;
}
#menuClose:hover { transform: scale(1.1); }
menu{
	background-color:$apple-gray;
	border-left:0.5vw solid $apple-black-opaq-9;
	border-bottom-left-radius:5px;
	height:10vh;
	margin:0 0 0 40vw;
	width:61vw;
	position:fixed;
	top:0;
	right:-62vw;
	z-index:9;
	box-shadow:0 0.5vh 1vh $apple-black-opaq-8;

	nav{
		font-family: 'Asap', sans-serif;
		width:100%;
		height:100%;
		#mainUl{
			font-family: 'Flamenco', cursive;
			font-size:1em;
			width:100%;
			height:100%;
			display:flex;
			justify-content:space-around;
			align-items:center;
			.mainLi{
				width:33%;
				text-align:center;
			}
		}
		.optionDisp{
			width:95%;
			height:6vh;
			float:right;
			ul{
				border-bottom-left-radius:1vh;
				width:100%;
				height:100%;
				display:flex;
				align-items:center;
				background-color:$apple-black-opaq-9;
				li{
					width:25%;
					text-align:center;
					font-size:1.4em;
					color:$apple-gray;
					img{
						height:5vh;
					}
				}
			}
			audio{
				width:100%;
				position:relative;
				top:1vh;
			}
		}
		.contact{
			display:flex;
			flex-direction:column;
			align-items:center;
			justify-content:space-around;
			height:20vh;
			background-color:$apple-black-opaq-8;
			border-bottom-left-radius:20px;
			#name{
				color:rgb(214, 213, 215);
				font-weight:bold;
				font-size:1.3em;
			}
			h1{
				color:rgb(214, 213, 215);
				a,a:visited,a:hover{
					color:white;
					cursor:pointer;
					padding-left:1vw;
				}
				span{
					padding-left:1vw;
					color:white;
				}
			}
		}
		.info{
			display:flex;
			border-bottom-left-radius:20px;
			width:90%;
			margin:0 auto;
			justify-content:space-around;
			background-color:$apple-black-opaq-8;
			padding-top:3vh;
			padding-bottom:3vh;
			iframe{
				width:90%;
				padding:0;
			}
		}
	}
}
