@import url(reset.css);
.hidden {
  display: none; }

.green {
  color: #0bc94c; }

.orange {
  color: #d56d00; }

.blue {
  color: #453b9c; }

a, a:hover, a:visited {
  color: white;
  text-decoration: none; }

html {
  box-sizing: border-box; }
  html header {
    height: 10vh;
    background: #D8D8D8;
    box-shadow: 0px 0.5vh 1vh #f4f1f1; }
    html header #hamburger {
      height: 100%;
      width: 45px;
      float: right; }
      html header #hamburger i {
        text-align: center;
        width: 45px;
        height: 45px;
        color: black;
        font-size: 6vh;
        margin-top: 2vh; }
    html header #logo {
      width: 8vh;
      height: 8vh;
      background: #970000;
      float: left;
      margin-left: 2%;
      margin-top: 1vh; }
      html header #logo h1 {
        font-family: arial-black;
        text-shadow: -2px -3px #4A4A4A;
        color: white;
        font-size: 8vh;
        height: 8vh;
        line-height: 5vh;
        text-align: center; }
  html #view {
    height: 55vh; }
    html #view .title {
      height: 20vh;
      padding-top: 3vh; }
      html #view .title h1 {
        font-weight: bold;
        margin: 0 auto;
        text-align: center;
        font-size: 30px;
        width: 50vw;
        border-bottom: solid black 2px;
        padding-bottom: 1vh; }
    html #view .focus .box {
      background-color: #0bc94c; }
    html #view .relax .box {
      background-color: #d56d00; }
    html #view .sleep .box {
      background-color: #453b9c; }
    html #view #visualBox.focus {
      box-shadow: 0 1vh 1vh #0bc94c; }
    html #view #visualBox.relax {
      box-shadow: 0 1vh 1vh #d56d00; }
    html #view #visualBox.sleep {
      box-shadow: 0 1vh 1vh #453b9c; }
    html #view #visualBox {
      width: 100vw;
      height: 29vh;
      display: flex;
      align-items: flex-end; }
      html #view #visualBox .box {
        box-shadow: 1px -1px 1px  black;
        border-top-left-radius: 5px;
        height: 32vh;
        width: 5%;
        margin: 0 0.5%; }
      html #view #visualBox .box1 {
        height: 1vh; }
      html #view #visualBox .box2 {
        height: 2vh; }
      html #view #visualBox .box3 {
        height: 3vh; }
      html #view #visualBox .box4 {
        height: 4vh; }
      html #view #visualBox .box5 {
        height: 6vh; }
      html #view #visualBox .box6 {
        height: 8vh; }
      html #view #visualBox .box7 {
        height: 9vh; }
      html #view #visualBox .box8 {
        height: 10vh; }
      html #view #visualBox .box9 {
        height: 11vh; }
      html #view #visualBox .box10 {
        height: 10vh; }
      html #view #visualBox .box11 {
        height: 13vh; }
      html #view #visualBox .box12 {
        height: 15vh; }
      html #view #visualBox .box13 {
        height: 9vh; }
      html #view #visualBox .box14 {
        height: 6vh; }
      html #view #visualBox .box15 {
        height: 5vh; }
      html #view #visualBox .box16 {
        height: 3vh; }
      html #view #visualBox .box17 {
        height: 3vh; }
      html #view #visualBox .box18 {
        height: 1vh; }
      html #view #visualBox .box19 {
        height: 2vh; }
      html #view #visualBox .box20 {
        height: 1vh; }
  html #slide-ctrl {
    background-color: #636060;
    height: 5vh;
    box-shadow: 10px 10px red;
    line-height: 5vh;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    border-top: solid 1px black; }
    html #slide-ctrl h1 {
      color: #F9F9F9; }
    html #slide-ctrl h1.freqControls {
      float: right; }
      html #slide-ctrl h1.freqControls i {
        margin-left: 2vw;
        color: white;
        margin-right: 2vw; }
    html #slide-ctrl h1.presets {
      float: left; }
      html #slide-ctrl h1.presets i {
        line-height: 5vh;
        float: left;
        margin-left: 2vw;
        color: white;
        margin-right: 2vw; }
  html footer {
    height: 30vh;
    background: #D8D8D8; }
    html footer #up-down-container {
      display: none;
      width: 100vw;
      height: 15vh;
      background: #D8D8D8; }
      html footer #up-down-container #left {
        margin: 1vh 2.5vw 0 2.5vw;
        width: 40vw;
        height: 15vh;
        background: #4A4A4A;
        float: left;
        border-radius: 3px; }
        html footer #up-down-container #left section {
          width: 50%;
          margin-left: 1vw;
          height: 15vh;
          line-height: 15vh;
          float: left;
          color: #F9F9F9;
          text-align: center; }
        html footer #up-down-container #left .flexCol {
          margin-right: 1vw;
          width: 40%;
          height: 100%;
          float: right;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          text-align: center;
          color: white; }
          html footer #up-down-container #left .flexCol i {
            font-size: 2em; }
        html footer #up-down-container #left i:hover {
          text-shadow: -1px 1px 1px black; }
      html footer #up-down-container #right {
        margin: 1vh 2.5vw 0 2.5vw;
        width: 40vw;
        height: 100%;
        background: #4A4A4A;
        float: right;
        border-radius: 3px; }
        html footer #up-down-container #right section {
          width: 50%;
          margin-right: 1vw;
          height: 15vh;
          line-height: 15vh;
          float: right;
          color: #F9F9F9;
          text-align: center; }
        html footer #up-down-container #right .flexCol {
          margin-left: 1vw;
          width: 40%;
          height: 100%;
          float: left;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          text-align: center;
          color: white; }
          html footer #up-down-container #right .flexCol i {
            font-size: 2em; }
          html footer #up-down-container #right .flexCol i:hover {
            text-shadow: -1px 1px 1px black; }
    html footer #presets {
      display: flex;
      height: 15vh; }
      html footer #presets div {
        height: 14vh;
        width: 33%;
        text-align: center;
        background: white;
        margin: 0 1vw;
        margin-top: 1vh;
        line-height: 14vh;
        border-radius: 5px;
        border: solid white 2px;
        color: #F9F9F9;
        text-shadow: -1px -1px 2px black;
        box-shadow: -1px 2px 5px black; }
      html footer #presets #sleep {
        background-color: #453b9c; }
      html footer #presets #relax {
        background-color: #d56d00; }
      html footer #presets #focus {
        background-color: #0bc94c; }
    html footer section.pause-play {
      width: 50vw;
      margin: 0 auto;
      margin-top: 2vh;
      height: 5vh;
      clear: both;
      text-align: center;
      background: white;
      border-radius: 5px;
      border: solid #4A4A4A 1px;
      border-bottom: none;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      display: flex;
      justify-content: center;
      align-items: center; }
      html footer section.pause-play h1 {
        width: 100%;
        display: flex;
        justify-content: space-around; }
        html footer section.pause-play h1 i {
          outline: none;
          cursor: pointer; }
    html footer section.current-hz {
      width: 100vw;
      height: 8vh;
      text-align: center;
      margin: 0 auto;
      background: white; }
      html footer section.current-hz h1.border {
        margin: 0 auto;
        padding-top: 1vh;
        width: 50vw;
        border-bottom: solid #4A4A4A 2px;
        font-size: 15px; }
      html footer section.current-hz h1.freq {
        padding-top: 1vh;
        font-size: 17px; }

/*# sourceMappingURL=master.css.map */
