@import "_colors.scss";
@import "jquery.css";
@import "reset.css";
@import "_tools.scss";
@import "_myReset.scss";
@import "_fonts.scss";
@import "_menuDir.scss";
@import "_media.css";

html{
	box-sizing:border-box;
	header{
		height:10vh;


		background:$apple-gray;
		box-shadow:0px 0.5vh 1vh rgb(244, 241, 241);
		#hamburger{
			float:right;
			z-index:10;
			cursor:pointer;
			width:45px;
			height:100%;
			i{
				width:45px;
				height:45px;
				margin-top:2vh;

				text-align:center;

				color:black;

				font-size:6vh;

			}
		}
		#logo{
			float:left;

			width:8vh;
			height:8vh;
			margin-top:1vh;
			margin-left:2%;

			background:$crimson;
			h1{
				height:8vh;

				text-align:center;

				color:white;
				text-shadow:-2px -3px $onyx;

				font-family:arial-black;
				font-size:8vh;
				line-height:5vh;
			}
		}
	}
	#view{
		height:55.5vh;
		.title{
			height:20vh;
			padding-top:3vh;
			font-family: 'Asap', sans-serif;
			h1{
				width:50vw;
				margin:0 auto;
				padding-bottom:1vh;

				text-align:center;

				border-bottom:solid black 2px;

				font-size:30px;
				font-weight:bold;
			}
			h1.freq{
				margin-top:5vh;

				border:none;
			}
		}
		.focus{
			.box{
				background-color:$focus;
			}
		}
		.relax{
			.box{
				background-color:$relax;
			}
		}
		.sleep{
			.box{
				background-color:$sleep;
			}
		}
		#visualBox.focus{
			box-shadow:0 1vh 1vh $focus;
		}
		#visualBox.relax{
			box-shadow:0 1vh 1vh $relax;
		}
		#visualBox.sleep{
			box-shadow:0 1vh 1vh $sleep;
		}

		#visualBox{
			display:flex;

			width:100vw;
			height:37vh;

			align-items:flex-end;
			.box{
				width:5%;
				height:32vh;
				margin:0 0.5%;

				border-top-left-radius:5px;
				box-shadow:1px -1px 1px  black;
			}
		}
	}
	#slide-ctrl{
		height:5vh;
		margin:0 auto;
		margin-top:7.5vh;
		max-width:900px;
		border-top:solid 1px black;
		border-top-left-radius:1vw;
		border-top-right-radius:1vw;
		background-color:$apple-black-opaq-9;

		line-height:5vh;
		h1{
			color:$white;
		}
		h1.freqControls{
			font-family: 'Asap', sans-serif;
			float:right;
			i{
				margin-right:2vw;
				margin-left:2vw;

				color:white;
			}
		}
		h1.presets{
			float:left;
			font-family: 'Asap', sans-serif;
			i{
				float:left;

				margin-right:2vw;
				margin-left:2vw;

				color:white;

				line-height:5vh;
			}
		}
	}
	footer{
		height:22vh;
		max-width:900px;
		margin:0 auto;
		background:$apple-gray;
		#up-down-container{
			margin:0 auto;
			font-family: 'Asap', sans-serif;
			display:none;

			width:100vw;
			max-width:900px;
			height:15vh;

			background:$apple-gray;
			#left{
				float:left;

				width:40vw;
				max-width: 250px;
				height:15vh;
				margin:1vh 2.5vw 0 2.5vw;

				border-radius:3px;
				background:$onyx;
				section{
					float:left;

					width:40%;
					height:15vh;
					margin-left:5%;

					text-align:center;

					color:$white;

					line-height:15vh;
				}
				.flexCol{
					display:flex;
					float:right;
					flex-direction:column;

					width:40%;
					height:100%;
					margin-right:5%;

					text-align:center;

					color:white;

					justify-content:space-between;
					font-size:4vh;
					input{
						text-align:center;
						border-radius:5px;
						background-color:transparent;
						box-shadow:none;
						border:none;
						font-size:4vh;
						color:white;
					}
					i{
						cursor:pointer;
						font-size:5vh;
					}
				}
				i:hover{
					text-shadow:-1px 1px 1px black;
				}

			}
			#right{
				float:right;

				width:40vw;
				max-width:250px;
				height:100%;
				margin:1vh 2.5vw 0 2.5vw;

				border-radius:3px;
				background:$onyx;
				section{
					float:right;

					width:40%;
					height:15vh;
					margin-right:5%;

					text-align:center;

					color:$white;

					line-height:15vh;
				}
				.flexCol{
					display:flex;
					float:left;
					flex-direction:column;

					width:40%;
					height:100%;
					margin-left:5%;

					text-align:center;

					color:white;

					justify-content:space-between;
					input{
						text-align:center;
						border-radius:5px;
						background-color:transparent;
						box-shadow:none;
						border:none;
						font-size:4vh;
						color:white;
					}
					i{
						cursor:pointer;

						font-size:5vh;

					}
					i:hover{
						text-shadow:-1px 1px 1px black;
					}
				}
			}
		}
		#presets{
			max-width:900px;
			margin:0 auto;
			display:flex;
			font-family: sans-serif;

			height:15vh;
			div{
				width:33%;
				height:14vh;
				margin:0 1vw;
				margin-top:1vh;

				text-align:center;

				color:$white;
				border:solid white 2px;
				border-radius:5px;
				background:white;
				box-shadow:-1px 2px 5px black;
				text-shadow:-1px -1px 2px black;

				line-height:14vh;
			}
			#sleep{
				background: rgba(121,109,232,0.9);
				background: -moz-linear-gradient(top, rgba(121,109,232,0.9) 0%, rgba(69,59,156,0.95) 50%, rgba(69,59,156,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(121,109,232,0.9)), color-stop(50%, rgba(69,59,156,0.95)), color-stop(100%, rgba(69,59,156,1)));
				background: -webkit-linear-gradient(top, rgba(121,109,232,0.9) 0%, rgba(69,59,156,0.95) 50%, rgba(69,59,156,1) 100%);
				background: -o-linear-gradient(top, rgba(121,109,232,0.9) 0%, rgba(69,59,156,0.95) 50%, rgba(69,59,156,1) 100%);
				background: -ms-linear-gradient(top, rgba(121,109,232,0.9) 0%, rgba(69,59,156,0.95) 50%, rgba(69,59,156,1) 100%);
				background: linear-gradient(to bottom, rgba(121,109,232,0.9) 0%, rgba(69,59,156,0.95) 50%, rgba(69,59,156,1) 100%);

				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#796de8', endColorstr='#453b9c', GradientType=0 );
			}
			#relax{
				background: rgba(235,171,108,0.9);
				background: -moz-linear-gradient(top, rgba(235,171,108,0.9) 0%, rgba(213,109,0,0.95) 50%, rgba(213,109,0,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,171,108,0.9)), color-stop(50%, rgba(213,109,0,0.95)), color-stop(100%, rgba(213,109,0,1)));
				background: -webkit-linear-gradient(top, rgba(235,171,108,0.9) 0%, rgba(213,109,0,0.95) 50%, rgba(213,109,0,1) 100%);
				background: -o-linear-gradient(top, rgba(235,171,108,0.9) 0%, rgba(213,109,0,0.95) 50%, rgba(213,109,0,1) 100%);
				background: -ms-linear-gradient(top, rgba(235,171,108,0.9) 0%, rgba(213,109,0,0.95) 50%, rgba(213,109,0,1) 100%);
				background: linear-gradient(to bottom, rgba(235,171,108,0.9) 0%, rgba(213,109,0,0.95) 50%, rgba(213,109,0,1) 100%);

				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebab6c', endColorstr='#d56d00', GradientType=0 );
			}
			#focus{
				background: rgba(115,255,162,0.9);
				background: -moz-linear-gradient(top, rgba(115,255,162,0.9) 0%, rgba(11,201,76,0.95) 50%, rgba(11,201,76,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(115,255,162,0.9)), color-stop(50%, rgba(11,201,76,0.95)), color-stop(100%, rgba(11,201,76,1)));
				background: -webkit-linear-gradient(top, rgba(115,255,162,0.9) 0%, rgba(11,201,76,0.95) 50%, rgba(11,201,76,1) 100%);
				background: -o-linear-gradient(top, rgba(115,255,162,0.9) 0%, rgba(11,201,76,0.95) 50%, rgba(11,201,76,1) 100%);
				background: -ms-linear-gradient(top, rgba(115,255,162,0.9) 0%, rgba(11,201,76,0.95) 50%, rgba(11,201,76,1) 100%);
				background: linear-gradient(to bottom, rgba(115,255,162,0.9) 0%, rgba(11,201,76,0.95) 50%, rgba(11,201,76,1) 100%);

				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73ffa2', endColorstr='#0bc94c', GradientType=0 );
			}

		}
		section.pause-play{
			display:flex;
			clear:both;

			width:50vw;
			height:5vh;
			margin:0 auto;
			margin-top:2vh;

			text-align:center;

			border:solid $onyx 1px;
			border-bottom:none;
			border-radius:5px;
			border-bottom-right-radius:0;
			border-bottom-left-radius:0;
			background:white;

			justify-content:center;
			align-items:center;
			// audiohere
			h1{
				display:flex;

				width:100%;
				max-width:300px;

				justify-content:space-around;;
				i{
					cursor:pointer;

					outline:none;
				}
			}
		}
	}
}
@import "_viewBoxStyles.scss";
